schema/tei_minimal_kkvo.dtd


<!--
DTD generated from ODD source 2022-09-16T10:11:25Z. .This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
TEI Edition: Version 4.4.0. Last updated on
        19th April 2022, revision ff9cc28b0
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.4.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.version ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.sex '%teidata.word;' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % teidata.temporal.iso ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart "country |settlement"> 
<!ENTITY % model.placeNamePart_sequence "country, settlement"> 
<!ENTITY % model.placeNamePart_sequenceOptional "country?, settlement?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "country*, settlement*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "country+, settlement+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.resource "text"> 
<!ENTITY % model.resource_sequence "text"> 
<!ENTITY % model.resource_sequenceOptional "text?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+"> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart ""> 
<!ENTITY % model.persNamePart_sequence ""> 
<!ENTITY % model.persNamePart_sequenceOptional ""> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.persNamePart_sequenceRepeatable ""> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- end of predeclared classes -->

<!ENTITY % tei_att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_att.canonical.attributes '
 %tei_att.canonical.attribute.key;
 %tei_att.canonical.attribute.ref;'> 
<!ENTITY % tei_att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_att.ranging.attributes '
 %tei_att.ranging.attribute.atLeast;
 %tei_att.ranging.attribute.atMost;
 %tei_att.ranging.attribute.min;
 %tei_att.ranging.attribute.max;
 %tei_att.ranging.attribute.confidence;'> 
<!ENTITY % tei_att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.dimensions.attributes '%tei_att.ranging.attributes;
 %tei_att.dimensions.attribute.unit;
 %tei_att.dimensions.attribute.quantity;
 %tei_att.dimensions.attribute.extent;
 %tei_att.dimensions.attribute.precision;
 %tei_att.dimensions.attribute.scope;'> 
<!ENTITY % tei_att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.written.attributes '
 %tei_att.written.attribute.hand;'> 
<!ENTITY % tei_att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % tei_att.cReferencing.attributes '
 %tei_att.cReferencing.attribute.cRef;'> 
<!ENTITY % tei_att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_att.datable.w3c.attributes '
 %tei_att.datable.w3c.attribute.when;
 %tei_att.datable.w3c.attribute.notBefore;
 %tei_att.datable.w3c.attribute.notAfter;
 %tei_att.datable.w3c.attribute.from;
 %tei_att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_att.datable.attribute.calendar '
calendar CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.attribute.period '
period CDATA  #IMPLIED'>
<!ENTITY % tei_att.datable.attributes '%tei_att.datable.w3c.attributes;%tei_att.datable.iso.attributes;%tei_att.datable.custom.attributes;
 %tei_att.datable.attribute.calendar;
 %tei_att.datable.attribute.period;'> 
<!ENTITY % tei_att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_att.declarable.attributes '
 %tei_att.declarable.attribute.default;'> 
<!ENTITY % tei_att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % tei_att.declaring.attributes '
 %tei_att.declaring.attribute.decls;'> 
<!ENTITY % tei_att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % tei_att.fragmentable.attributes '
 %tei_att.fragmentable.attribute.part;'> 
<!ENTITY % tei_att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_att.docStatus.attributes '
 %tei_att.docStatus.attribute.status;'> 
<!ENTITY % tei_att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.responsibility.attributes '
 %tei_att.global.responsibility.attribute.cert;
 %tei_att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_att.editLike.attributes '
 %tei_att.editLike.attribute.evidence;
 %tei_att.editLike.attribute.instant;'> 
<!ENTITY % tei_att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.rendition.attributes '
 %tei_att.global.rendition.attribute.rend;
 %tei_att.global.rendition.attribute.style;
 %tei_att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.source.attributes '
 %tei_att.global.source.attribute.source;'> 
<!ENTITY % tei_att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_att.global.attributes '%tei_att.global.rendition.attributes;%tei_att.global.linking.attributes;%tei_att.global.responsibility.attributes;%tei_att.global.source.attributes;
 %tei_att.global.attribute.xmlid;
 %tei_att.global.attribute.n;
 %tei_att.global.attribute.xmllang;
 %tei_att.global.attribute.xmlbase;
 %tei_att.global.attribute.xmlspace;'> 
<!ENTITY % tei_att.internetMedia.attribute.mimeType '
mimeType CDATA  #IMPLIED'>
<!ENTITY % tei_att.internetMedia.attributes '
 %tei_att.internetMedia.attribute.mimeType;'> 
<!ENTITY % tei_att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_att.naming.attributes '%tei_att.canonical.attributes;
 %tei_att.naming.attribute.role;
 %tei_att.naming.attribute.nymRef;'> 
<!ENTITY % tei_att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_att.typed.attributes '
 %tei_att.typed.attribute.type;
 %tei_att.typed.attribute.subtype;'> 
<!ENTITY % tei_att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % tei_att.pointing.attributes '
 %tei_att.pointing.attribute.targetLang;
 %tei_att.pointing.attribute.target;
 %tei_att.pointing.attribute.evaluate;'> 
<!ENTITY % tei_att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_att.sortable.attributes '
 %tei_att.sortable.attribute.sortKey;'> 
<!ENTITY % model.nameLike.agent "name |orgName |persName"> 
<!ENTITY % model.nameLike.agent_sequence "name, orgName, persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?, orgName?, persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*, orgName*, persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+, orgName+, persName+"> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date |time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike "ref"> 
<!ENTITY % model.ptrLike_sequence "ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |msDesc"> 
<!ENTITY % model.biblLike_sequence "bibl, msDesc"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, msDesc?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, msDesc*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, msDesc+"> 
<!ENTITY % model.headLike ""> 
<!ENTITY % model.headLike_sequence ""> 
<!ENTITY % model.headLike_sequenceOptional ""> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.headLike_sequenceRepeatable ""> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike "listPerson"> 
<!ENTITY % model.listLike_sequence "listPerson"> 
<!ENTITY % model.listLike_sequenceOptional "listPerson?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "listPerson*"> 
<!ENTITY % model.listLike_sequenceRepeatable "listPerson+"> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p |ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.eventLike ""> 
<!ENTITY % model.eventLike_sequence ""> 
<!ENTITY % model.eventLike_sequenceOptional ""> 
<!ENTITY % model.eventLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.eventLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.persStateLike "persName"> 
<!ENTITY % model.persStateLike_sequence "persName"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+"> 
<!ENTITY % model.personLike "person"> 
<!ENTITY % model.personLike_sequence "person"> 
<!ENTITY % model.personLike_sequenceOptional "person?"> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable "person*"> 
<!ENTITY % model.personLike_sequenceRepeatable "person+"> 
<!ENTITY % model.personPart "%model.biblLike; |%model.persStateLike; |name |idno"> 
<!ENTITY % model.personPart_sequence "%model.biblLike;, %model.persStateLike;, name, idno"> 
<!ENTITY % model.personPart_sequenceOptional "%model.biblLike;?, %model.persStateLike;?, name?, idno?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.biblLike;*, %model.persStateLike;*, name*, idno*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.biblLike;+, %model.persStateLike;+, name+, idno+"> 
<!ENTITY % model.placeNamePart "country |settlement"> 
<!ENTITY % model.placeNamePart_sequence "country, settlement"> 
<!ENTITY % model.placeNamePart_sequenceOptional "country?, settlement?"> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable "country*, settlement*"> 
<!ENTITY % model.placeNamePart_sequenceRepeatable "country+, settlement+"> 
<!ENTITY % model.placeStateLike "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequence "%model.placeNamePart;"> 
<!ENTITY % model.placeStateLike_sequenceOptional "%model.placeNamePart;?"> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable "%model.placeNamePart;*"> 
<!ENTITY % model.placeStateLike_sequenceRepeatable "%model.placeNamePart;+"> 
<!ENTITY % model.publicationStmtPart.agency "publisher"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+"> 
<!ENTITY % model.publicationStmtPart.detail "%model.ptrLike; |address |date |pubPlace |idno |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "%model.ptrLike;, address, date, pubPlace, idno, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "%model.ptrLike;?, address?, date?, pubPlace?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "%model.ptrLike;*, address*, date*, pubPlace*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "%model.ptrLike;+, address+, date+, pubPlace+, idno+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.attributable ""> 
<!ENTITY % model.attributable_sequence ""> 
<!ENTITY % model.attributable_sequenceOptional ""> 
<!ENTITY % model.attributable_sequenceOptionalRepeatable ""> 
<!ENTITY % model.attributable_sequenceRepeatable ""> 
<!ENTITY % model.respLike "author |respStmt"> 
<!ENTITY % model.respLike_sequence "author, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, respStmt+"> 
<!ENTITY % model.divWrapper ""> 
<!ENTITY % model.divWrapper_sequence ""> 
<!ENTITY % model.divWrapper_sequenceOptional ""> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divWrapper_sequenceRepeatable ""> 
<!ENTITY % model.divTopPart ""> 
<!ENTITY % model.divTopPart_sequence ""> 
<!ENTITY % model.divTopPart_sequenceOptional ""> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTopPart_sequenceRepeatable ""> 
<!ENTITY % model.divTop ""> 
<!ENTITY % model.divTop_sequence ""> 
<!ENTITY % model.divTop_sequenceOptional ""> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTop_sequenceRepeatable ""> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.imprintPart "publisher |pubPlace"> 
<!ENTITY % model.imprintPart_sequence "publisher, pubPlace"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, pubPlace?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, pubPlace*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, pubPlace+"> 
<!ENTITY % model.addressLike "address"> 
<!ENTITY % model.addressLike_sequence "address"> 
<!ENTITY % model.addressLike_sequenceOptional "address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |%model.placeStateLike; |idno"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, %model.placeStateLike;, idno"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, %model.placeStateLike;?, idno?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, %model.placeStateLike;*, idno*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, %model.placeStateLike;+, idno+"> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl |availability |msIdentifier"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl, availability, msIdentifier"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?, availability?, msIdentifier?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*, availability*, msIdentifier*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+, availability+, msIdentifier+"> 
<!ENTITY % model.addrPart "%model.nameLike; |street |postCode"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, street, postCode"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, street?, postCode?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, street*, postCode*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, street+, postCode+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.listLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.listLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.listLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.listLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.listLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.highlighted; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.highlighted;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.highlighted;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.highlighted;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.highlighted;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike ""> 
<!ENTITY % model.divLike_sequence ""> 
<!ENTITY % model.divLike_sequenceOptional ""> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divLike_sequenceRepeatable ""> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart ""> 
<!ENTITY % model.teiHeaderPart_sequence ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptional ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable ""> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.resource "text"> 
<!ENTITY % model.resource_sequence "text"> 
<!ENTITY % model.resource_sequenceOptional "text?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+"> 
<!ENTITY % tei_att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % tei_att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % tei_att.personal.attributes '%tei_att.naming.attributes;
 %tei_att.personal.attribute.full;
 %tei_att.personal.attribute.sort;'> 
<!ENTITY % model.placeLike ""> 
<!ENTITY % model.placeLike_sequence ""> 
<!ENTITY % model.placeLike_sequenceOptional ""> 
<!ENTITY % model.placeLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeLike_sequenceRepeatable ""> 
<!ENTITY % tei_att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_att.datable.custom.attributes '
 %tei_att.datable.custom.attribute.when-custom;
 %tei_att.datable.custom.attribute.notBefore-custom;
 %tei_att.datable.custom.attribute.notAfter-custom;
 %tei_att.datable.custom.attribute.from-custom;
 %tei_att.datable.custom.attribute.to-custom;
 %tei_att.datable.custom.attribute.datingPoint;
 %tei_att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart ""> 
<!ENTITY % model.persNamePart_sequence ""> 
<!ENTITY % model.persNamePart_sequenceOptional ""> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.persNamePart_sequenceRepeatable ""> 
<!ENTITY % tei_att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_att.datable.iso.attributes '
 %tei_att.datable.iso.attribute.when-iso;
 %tei_att.datable.iso.attribute.notBefore-iso;
 %tei_att.datable.iso.attribute.notAfter-iso;
 %tei_att.datable.iso.attribute.from-iso;
 %tei_att.datable.iso.attribute.to-iso;'> 
<!ENTITY % model.physDescPart ""> 
<!ENTITY % model.physDescPart_sequence ""> 
<!ENTITY % model.physDescPart_sequenceOptional ""> 
<!ENTITY % model.physDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.physDescPart_sequenceRepeatable ""> 
<!ENTITY % tei_att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_att.global.linking.attributes '
 %tei_att.global.linking.attribute.corresp;
 %tei_att.global.linking.attribute.synch;
 %tei_att.global.linking.attribute.sameAs;
 %tei_att.global.linking.attribute.copyOf;
 %tei_att.global.linking.attribute.next;
 %tei_att.global.linking.attribute.prev;
 %tei_att.global.linking.attribute.exclude;
 %tei_att.global.linking.attribute.select;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.global|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|_DUMMY_model.attributable|%model.phrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|_DUMMY_model.global)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resource class. Multiple TEI elements may be combined within a TEI (or teiCorpus) element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(((%model.resource;)+,(TEI)*)|(TEI)+)))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
version %teidata.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. Blocks, Segments, and Anchors] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.declaring.attributes;
 %tei_att.fragmentable.attributes;
 %tei_att.written.attributes; >
<!--doc:contains a summary or formal abstract prefixed to an existing source document by the encoder. [2.4.4. Abstracts] -->
<!ELEMENT abstract (%model.pLike;|%model.listLike;)+>
<!ATTLIST abstract xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abstract
 %tei_att.global.attributes; >
<!--doc:(address) contains a postal address, for example of a publisher, an organization, or an individual. [3.6.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT address (((_DUMMY_model.global)*,((%model.addrPart;),(_DUMMY_model.global)*)+))>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %tei_att.global.attributes; >
<!--doc:(alternative identifier) contains an alternative or former structured identifier used for a manuscript or other object, such as a former catalogue number. [10.4. The Manuscript Identifier] -->
<!ELEMENT altIdentifier (((%model.placeNamePart_sequenceOptional;),(institution)?,(repository)?,(collection)?,idno,(note)?))>
<!ATTLIST altIdentifier xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST altIdentifier
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.datable.attributes; >
<!--doc:(author) in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %tei_att.global.attributes;
 %tei_att.naming.attributes;
 %tei_att.datable.attributes; >
<!--doc:(availability) supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %tei_att.global.attributes;
 %tei_att.declarable.attributes;
status (free|unknown|restricted) #IMPLIED >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|_DUMMY_model.segLike|%model.ptrLike;|%model.biblPart;|_DUMMY_model.global)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %tei_att.global.attributes;
 %tei_att.declarable.attributes;
 %tei_att.typed.attributes;
 %tei_att.sortable.attributes;
 %tei_att.docStatus.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((_DUMMY_model.global)*,((_DUMMY_model.divTop),(_DUMMY_model.global|_DUMMY_model.divTop)*)?,((_DUMMY_model.divGenLike),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)?,(((_DUMMY_model.divLike),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|(((schemaSpec|%model.common;),(_DUMMY_model.global)*)+,(((_DUMMY_model.divLike),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+)?)),((_DUMMY_model.divBottom),(_DUMMY_model.global)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %tei_att.global.attributes;
 %tei_att.declaring.attributes; >
<!--doc:(collection) contains the name of a collection of manuscripts or other objects, not necessarily located within a single repository. [10.4. The Manuscript Identifier] -->
<!ELEMENT collection %macro.phraseSeq.limited;>
<!ATTLIST collection xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST collection
 %tei_att.global.attributes;
 %tei_att.naming.attributes;
 %tei_att.typed.attributes; >
<!--doc:(country) contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. Place Names] -->
<!ELEMENT country %macro.phraseSeq;>
<!ATTLIST country xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST country
 %tei_att.global.attributes;
 %tei_att.naming.attributes;
 %tei_att.typed.attributes;
 %tei_att.datable.attributes; >
<!--doc:(date) contains a date in any format. [3.6.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.4. Dates] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|_DUMMY_model.global)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_att.global.attributes;
 %tei_att.canonical.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.dimensions.attributes;
 %tei_att.typed.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)*,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %tei_att.global.attributes; >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [13.3.1. Basic Principles 2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %tei_att.global.attributes;
 %tei_att.sortable.attributes;
 %tei_att.datable.attributes;
 %tei_att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(institution) contains the name of an organization such as a university or library, with which a manuscript or other object is identified, generally its holding institution. [10.4. The Manuscript Identifier] -->
<!ELEMENT institution %macro.phraseSeq.limited;>
<!ATTLIST institution xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST institution
 %tei_att.global.attributes;
 %tei_att.naming.attributes; >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT langUsage ((%model.pLike;)+|(language)+)>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %tei_att.global.attributes;
 %tei_att.pointing.attributes;
 %tei_att.datable.attributes; >
<!--doc:(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT listPerson (((_DUMMY_model.headLike)*,(desc)*,(relation|listRelation)*,((%model.personLike;|listPerson)+,(relation|listRelation)*)+))>
<!ATTLIST listPerson xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listPerson
 %tei_att.global.attributes;
 %tei_att.typed.attributes;
 %tei_att.declarable.attributes;
 %tei_att.sortable.attributes; >
<!--doc:(manuscript description) contains a description of a single identifiable manuscript or other text-bearing object such as an early printed book. [10.1. Overview] -->
<!ELEMENT msDesc ((msIdentifier,(_DUMMY_model.headLike)*,((%model.pLike;)+|((msContents)?,(physDesc)?,(history)?,(additional)?,((msPart)*|(msFrag)*)))))>
<!ATTLIST msDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST msDesc
 %tei_att.global.attributes;
 %tei_att.sortable.attributes;
 %tei_att.typed.attributes;
 %tei_att.declaring.attributes;
 %tei_att.docStatus.attributes; >
<!--doc:(manuscript identifier) contains the information required to identify the manuscript or similar object being described. [10.4. The Manuscript Identifier] -->
<!ELEMENT msIdentifier ((((%model.placeNamePart_sequenceOptional;),(institution)?,(repository)?,(collection)*,(idno)*),(msName|objectName|altIdentifier)*))>
<!ATTLIST msIdentifier xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST msIdentifier
 %tei_att.global.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %tei_att.global.attributes;
 %tei_att.personal.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.typed.attributes; >
<!--doc:(organization name) contains an organizational name. [13.2.2. Organizational Names] -->
<!ELEMENT orgName %macro.phraseSeq;>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orgName
 %tei_att.global.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.personal.attributes;
 %tei_att.typed.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.fragmentable.attributes;
 %tei_att.written.attributes; >
<!--doc:(participation description) describes the identifiable speakers, voices, or other participants in any kind of text or other persons named or otherwise referred to in a text, edition, or metadata. [15.2. Contextual Information] -->
<!ELEMENT particDesc ((%model.pLike;)+|(%model.personLike;|listPerson|listOrg)+)>
<!ATTLIST particDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST particDesc
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. Personal Names] -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %tei_att.global.attributes;
 %tei_att.datable.attributes;
 %tei_att.editLike.attributes;
 %tei_att.personal.attributes;
 %tei_att.typed.attributes; >
<!--doc:(person) provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a historical source. [13.3.2. The Person Element 15.2.2. The Participant Description] -->
<!ELEMENT person ((%model.pLike;)+|(%model.personPart;|_DUMMY_model.global|ptr)*)>
<!ATTLIST person xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST person
 %tei_att.global.attributes;
 %tei_att.editLike.attributes;
 %tei_att.sortable.attributes;
role NMTOKENS  #IMPLIED
sex CDATA  #IMPLIED
age %teidata.enumerated;  #IMPLIED >
<!--doc:(physical description) contains a full physical description of a manuscript, manuscript part, or other object optionally subdivided using more specialized elements from the model.physDescPart class. [10.7. Physical Description] -->
<!ELEMENT physDesc (((%model.pLike;)*,(%model.physDescPart_sequenceOptional;)))>
<!ATTLIST physDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST physDesc
 %tei_att.global.attributes; >
<!--doc:(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify sorting or delivery of mail. [3.6.2. Addresses] -->
<!ELEMENT postCode (#PCDATA)>
<!ATTLIST postCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postCode
 %tei_att.global.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %tei_att.global.attributes;
 %tei_att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %tei_att.global.attributes; >
<!--doc:(publisher) provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.12.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %tei_att.global.attributes;
 %tei_att.canonical.attributes; >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.7. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %tei_att.cReferencing.attributes;
 %tei_att.declaring.attributes;
 %tei_att.global.attributes;
 %tei_att.internetMedia.attributes;
 %tei_att.pointing.attributes;
 %tei_att.typed.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %tei_att.global.attributes;
 %tei_att.canonical.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5. The Series Statement 2.2. The File Description] -->
<!ELEMENT seriesStmt ((%model.pLike;)+|((title)+,(editor|respStmt)*,(idno|biblScope)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(setting description) describes the setting or settings within which a language interaction takes place, or other places otherwise referred to in a text, edition, or metadata. [15.2. Contextual Information 2.4. The Profile Description] -->
<!ELEMENT settingDesc ((%model.pLike;)+|(setting|_DUMMY_model.placeLike|listPlace)+)>
<!ATTLIST settingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settingDesc
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:(settlement) contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [13.2.3. Place Names] -->
<!ELEMENT settlement %macro.phraseSeq;>
<!ATTLIST settlement xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settlement
 %tei_att.global.attributes;
 %tei_att.naming.attributes;
 %tei_att.typed.attributes;
 %tei_att.datable.attributes; >
<!--doc:(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %tei_att.global.attributes;
 %tei_att.declarable.attributes; >
<!--doc:contains a full street address including any name or number identifying a building as well as the name of the street or route on which it is located. [3.6.2. Addresses] -->
<!ELEMENT street %macro.phraseSeq;>
<!ATTLIST street xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST street
 %tei_att.global.attributes; >
<!--doc:(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(_DUMMY_model.teiHeaderPart)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_att.global.attributes; >
<!--doc:(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((_DUMMY_model.global)*,(front,(_DUMMY_model.global)*)?,(body|group),(_DUMMY_model.global)*,(back,(_DUMMY_model.global)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_att.global.attributes;
 %tei_att.declaring.attributes;
 %tei_att.typed.attributes;
 %tei_att.written.attributes; >
<!--doc:(time) contains a phrase defining a time of day in any format. [3.6.4. Dates and Times] -->
<!ELEMENT time (#PCDATA|_DUMMY_model.gLike|%model.phrase;|_DUMMY_model.global)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %tei_att.global.attributes;
 %tei_att.datable.attributes;
 %tei_att.canonical.attributes;
 %tei_att.editLike.attributes;
 %tei_att.dimensions.attributes;
 %tei_att.typed.attributes; >
<!--doc:(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_att.global.attributes;
 %tei_att.typed.attribute.subtype;
 %tei_att.canonical.attributes;
 %tei_att.datable.attributes;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %tei_att.global.attributes; >
<!-- end elements -->
