schema/tei_minimal_kkvo.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI Minimal Kraus Vorlesungen</title>
        <author>Angelika Hechtl</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare
          exemplars by SPQR and LR.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements: <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this
            file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the
            title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without
            that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tei_minimal_kkvo" start="TEI" prefix="tei_" targetLang="en" docLang="en">

        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc langUsage availability licence seriesStmt idno abstract language profileDesc revisionDesc change"/>

        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core"
          include="p title respStmt publisher address street postCode ref pubPlace date bibl author name time editor biblScope note lb hi resp"/>

        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" include="TEI text body"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="namesdates"
          include="persName orgName settlement country listPerson person placeName"/>
        <moduleRef key="corpus" include="particDesc settingDesc setting locale"/>
        <moduleRef key="msdescription"
          include="msIdentifier msDesc institution collection altIdentifier physDesc"/>
        <moduleRef key="linking" include="ab"/>
        <elementSpec ident="ab" mode="change">
          <classes mode="change">
            <memberOf key="att.declaring" mode="delete"/>
            <memberOf key="att.fragmentable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.written" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="abstract" mode="change">
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="altIdentifier" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
        </elementSpec>
        <elementSpec ident="bibl" mode="change">
          <classes mode="change">
            <memberOf key="att.declarable" mode="delete"/>
            <memberOf key="att.docStatus" mode="delete"/>
            <memberOf key="att.sortable" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="collection" mode="change">
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.naming" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
        </elementSpec>
        <elementSpec ident="institution" mode="change">
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.naming" mode="delete"/>
          </classes>
        </elementSpec>
        <elementSpec ident="licence" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="targetLang" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="ref" mode="change">
          <classes mode="change">
            <memberOf key="att.cReferencing" mode="delete"/>
            <memberOf key="att.declaring" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.internetMedia" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="targetLang" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="time" mode="change">
          <classes mode="change">
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="atLeast" mode="delete"/>
            <attDef ident="atMost" mode="delete"/>
            <attDef ident="min" mode="delete"/>
            <attDef ident="max" mode="delete"/>
            <attDef ident="confidence" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
            <attDef ident="when-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="from-custom" mode="delete"/>
            <attDef ident="to-custom" mode="delete"/>
            <attDef ident="datingPoint" mode="delete"/>
            <attDef ident="datingMethod" mode="delete"/>
            <attDef ident="calendar" mode="delete"/>
            <attDef ident="period" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="title" mode="change">
          <classes mode="change">
            <memberOf key="att.canonical" mode="delete"/>
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
        </elementSpec>
        <elementSpec ident="editor" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="when-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="from-custom" mode="delete"/>
            <attDef ident="to-custom" mode="delete"/>
            <attDef ident="datingPoint" mode="delete"/>
            <attDef ident="datingMethod" mode="delete"/>
            <attDef ident="when-iso" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
            <attDef ident="when" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="key" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="role" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="biblScope" mode="change">
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="language" mode="change">
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="usage" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <classes mode="change">
            <memberOf key="att.pointing" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
            <memberOf key="att.written" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="placeName" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.editLike" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="when-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="from-custom" mode="delete"/>
            <attDef ident="to-custom" mode="delete"/>
            <attDef ident="datingPoint" mode="delete"/>
            <attDef ident="datingMethod" mode="delete"/>
            <attDef ident="when-iso" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
            <attDef ident="when" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
            <attDef ident="full" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="change" mode="change">
          <classes mode="change">
            <memberOf key="att.docStatus" mode="delete"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
            <attDef ident="when-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="from-custom" mode="delete"/>
            <attDef ident="to-custom" mode="delete"/>
            <attDef ident="datingPoint" mode="delete"/>
            <attDef ident="datingMethod" mode="delete"/>
            <attDef ident="calendar" mode="delete"/>
            <attDef ident="period" mode="delete"/>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
